<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form role="link-form">
    <div class="form-group">
        <label for="name">链接名称</label>
        <input type="text" class="form-control" id="name" name="linkName" placeholder="请输入名称">
    </div>
    <div class="form-group">
        <label for="address">链接地址</label>
        <input type="text" class="form-control" id="address" name="linkAddress" placeholder="请输入链接地址">
    </div>
    <div class="form-group">
        <label for="remark">备足</label>
        <textarea class="form-control" id="remark" name="linkRemark" rows="16" style="min-width: 90%" placeholder="请输入备注"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
    <button type="button" class="btn btn-danger">取消</button>
</form>


</body>
</html>